# This project uses Yarn (v3.6.1) as specified in package.json
# Do not use npm commands - use yarn instead
# 
# The packageManager field in package.json will be enforced
# to prevent accidental npm usage

engine-strict=true
